<!DOCTYPE html>
<html>
  <%- include('./patials/header.ejs') %>
  <body>
    <%- include('./patials/nav.ejs') %>
    <div class="not-found content">404-OOPS! The Page doesnot exist</div>
  </body>
  <%- include('./patials/footer.ejs') %>
</html>
