<!DOCTYPE html>
<html>
  <%- include('./patials/header.ejs') %>
  <body>
    <%- include('./patials/nav.ejs') %>

    <div class="blogs content">
      <h2>All Blogs</h2>
    </div>
    <%- include('./patials/footer.ejs') %>
  </body>
</html>
